QToolTip {
	border: 2px solid #b3b300;
	border-radius: 4px;
	padding: 2px;
/*    background-image: url(images/welcome.png);*/
	color: white;
	background-color: black;
}


QPushButton {
	border: 1px solid black;
	border-radius: 5px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #b3b300);
	                                min-width: 80px;
									min-height: 20px;
}
QToolButton, QSpinBox {
border: 1px solid black;
border-radius: 5px;
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #b3b300);
								/*min-width: 25px;
								min-height: 25px;*/
}
QPushButton:flat, QToolButton:flat {
	border: none; /* no border for a flat push button */
}
QPushButton:default, QToolButton:default {
	border-color: navy; /* make the default button prominent */
}
QPushButton:hover, QToolButton:hover {
	border: 1px solid black;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #ffff4d);
	color: #ffffff;
/*	padding: 5px 10px;*/
}
QPushButton:disabled,QPushButton[disabled], QToolButton:disabled,QToolButton[disabled]{
	border: 1px solid black;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #4d4d00);
	color: #777777;
}
QPushButton:pressed, QToolButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b3b300, stop: 1 #000000);
}

QLabel, QCheckBox {
		color: #b3b300;
}
QLineEdit {
		border: 2px solid #4d4d00;
		color: white;
		background-color: black;
}

QMessageBox {
		background-color: black;
}

QSlider::groove:horizontal {
	border: 1px solid black;
	height: 4px;
	/*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b3b300, stop: 1 #b3b300);*/
	margin: 2px 0;
}

QSlider::handle:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #000000, stop:1 #ffff4d);
	border: 0px solid black;
	width: 18px;
	margin: -5px 0;
	border-radius: 3px;
}

QProgressBar {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	color: white;
}
QProgressBar::chunk {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #b3b300);
	width: 2px;
	margin: 1px;
}
